{% extends "base.twig" %}
{% block content %}
    <div class='container--fw'>
        <div class='container--content viewport--padding'>
            <div class="col--16">
                <h1>This is a heading</h1>
            </div>
            <div class="col--8 col--last">
                <p>This is the content</p>
            </div>
        </div>
    </div>
{% endblock %}
