{% extends "base.twig" %}
{% block content %}
    <div class='container--fw'>
        <div class='container--content viewport--padding'>
            {% include 'flexible-content.twig' %}
        </div>
    </div>
{% endblock %}
