/* BREAKPOINTS */
$bp--1: 1200px; // tablet landscape
$bp--2: 1024px; // tablet portrait
$bp--3: 768px; // mobile

@mixin bp($breakpoint) {
	@if $breakpoint == bp--3 {
		@media screen and (max-width: $bp--3) { @content; };
	}
	@else if $breakpoint == bp--2 {
		@media screen and (max-width: $bp--2) { @content; };
	}
	@else if $breakpoint == bp--1 {
		@media screen and (max-width: $bp--1) { @content; };
	}
}

/* GRID BLOCKS */
@mixin grid-blocks-reset($numberOfBlocks) {
    &:nth-child(#{$numberOfBlocks}n + 0) {
        margin-right: gutter();
    }
}

@mixin grid-blocks($numberOfBlocks) {
    @include span( $susyColumns / $numberOfBlocks );
    &:nth-child(#{$numberOfBlocks}n + 0) {
        margin-right:0;
    }
}
