/* BREAKPOINTS */
$bp--1: 1200px; // tablet landscape
$bp--2: 1024px; // tablet portrait
$bp--3: 768px; // mobile

@mixin bp($breakpoint) {
	@if $breakpoint == bp--3 {
		@media screen and (max-width: $bp--3) { @content; };
	}
	@else if $breakpoint == bp--2 {
		@media screen and (max-width: $bp--2) { @content; };
	}
	@else if $breakpoint == bp--1 {
		@media screen and (max-width: $bp--1) { @content; };
	}
}

/* GRID BLOCKS */
@mixin grid-blocks-reset($numberOfBlocks) {
    &:nth-child(#{$numberOfBlocks}n + 0) {
        margin-right: gutter();
    }
}

@mixin grid-blocks($numberOfBlocks) {
    @include span( $susyColumns / $numberOfBlocks );
    &:nth-child(#{$numberOfBlocks}n + 0) {
        margin-right:0;
    }
}

/* PIXELS TO REM CONVERSION */
@mixin rem-calc($sizeValue: 16, $line: $sizeValue * 1.5) {
    font-size: ($sizeValue) + px;
    line-height: ($line) + px;
    font-size: ($sizeValue / 16) + rem;
    line-height: ($line / 16) + rem;
}
