// USE FOR SUSY MAP
$susyColumns: 24;

// FONT WEIGHTS
$fw--1: 100;
$fw--2: 200;
$fw--3: 300;
$fw--4: 400;
$fw--5: 500;
$fw--6: 600;
$fw--7: 700;
$fw--8: 800;
$fw--9: 900;

// FONT FAMILIES
$ff-heading:'Verdana';
$ff-body:'Georgia';

// BRAND COLOURS
// $brand-color--1:;
// $brand-color--2:;
// $brand-color--3:;
// $brand-color--4:;
// $brand-color--5:;

// DEFAULT BORDER RADIUS VALUE
$border-radius: 4px;

// DEFAULT LINK COLOUR
$link-color: #456432;
