body {
    font-size: 62.5%;
    font-family: $ff-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $ff-heading;
}

//h1 {
//    font-size: ;
//    line-height: ;
//    margin-bottom: ;
//}
//
//h2 {
//    font-size: ;
//    line-height: ;
//    margin-bottom: ;
//}
//
//h3 {
//    font-size: ;
//    line-height: ;
//    margin-bottom: ;
//}
//
//h4 {
//    font-size: ;
//    line-height: ;
//    margin-bottom: ;
//}
//
//h5 {
//    font-size: ;
//    line-height: ;
//    margin-bottom: ;
//}
//
//h6 {
//    font-size: ;
//    line-height: ;
//    margin-bottom: ;
//}

p {
    @include rem_calc(12,18);
    margin-bottom: 20px;
}

a {
    color: $link-color;
    text-decoration: none;
}
