<div class="content-block content__cta align--{{ contentBlocks.cta_single__alignment }}">
    <a href="{{ contentBlocks.link.url }}" class="btn btn--rounded" target="{{ contentBlocks.link.target }}">{{ contentBlocks.link.text }}</a>
</div>
