<div class="content-block content__image">
    <img src="{{ contentBlocks.image__single.url }}" class="image__single" alt="" />
    {% if contentBlocks.image__single_caption %}
    <span class="caption">{{ contentBlocks.image__single_caption }}</span>
    {% endif %}
</div>
