<div class="content-block content-block--small content__quote">
    <blockquote>
        {{ contentBlocks.quote__quote_text }}
    </blockquote>
    <span>{{ contentBlocks.quote__quotee }}</span>
</div>
