// IMAGE SINGLE
.content__image {
    .image__single {
        display: block;
        margin-bottom: 10px;
    }
    .caption {
        margin-bottom: 0;
    }
}

.content__image-slideshow {
    .item {
        img {
            display: block;
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
    }
}
