@import 'susy';

/* UTILITIES */
@import 'utilities/mixins';
@import 'utilities/variables';

/* BASE */
@import
    'base/resets',
    'base/grid',
    'base/typography';

/* COMPONENTS */
@import 'components/button';
@import 'components/forms';
@import 'components/lists';

/* LAYOUT */
@import 'layout/cta';

/* TEMPLATES */

/* VENDOR */


.content-block {
    //clear:both;
    //width: 100%;
    @include grid-blocks(6);
    @include bp(bp--2) {
        @include grid-blocks-reset(6);
        @include grid-blocks(4);
    }
}

.container {
    clear:both;
    &--fw {
        width: 100%;
    }
    &--content {
        max-width: 1200px;
        margin:0 auto;
    }
}

.viewport--padding {
    @include bp(bp--1) {
        padding-left: 10px;
        padding-right: 10px;
    }
}
