@import 'susy';

/* UTILITIES */
@import
    'utilities/mixins',
    'utilities/variables';

/* BASE */
@import
    'base/resets',
    'base/grid',
    'base/typography';

/* COMPONENTS */
@import
    'components/button',
    'components/forms',
    'components/lists',
    'components/tables',
    'components/zindex';

/* LAYOUT */
@import
    'layout/header',
    'layout/footer',
    'layout/overlay',
    'layout/cta';

/* TEMPLATES */

/* VENDOR */


.content-block {
    //clear:both;
    //width: 100%;
    @include grid-blocks(6);
    @include bp(bp--2) {
        @include grid-blocks-reset(6);
        @include grid-blocks(4);
    }
}

.container {
    clear:both;
    &--fw {
        width: 100%;
    }
    &--content {
        max-width: 1200px;
        margin:0 auto;
        @include bp(bp--1) {
            max-width: $bp--1;
        }
        @include bp(bp--2) {
            max-width: $bp--2;
        }
        @include bp(bp--3) {
            max-width: $bp--3;
        }
    }
}

.viewport--padding {
    @include bp(bp--1) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.box {
    width: span(6);
    background-color:red;
}
